Repository oxisto/money-gopher: changes, and which Codecov flags are due for each by the changed paths.
All: portfolio-service, securities-service

Back to upstream jotaen/kong-completion (#228)
  cli/commands/init.go
  go.mod
  go.sum
Due: none

Implementing CLI command to create transaction
  README.md
  buf.lock
  cli/commands/portfolio.go
  cli/commands/securities.go
  cmd/mgo/mgo.go
  money-gopher.code-workspace
  ui/src/lib/gen/mgo_connect.ts
  ui/src/lib/gen/mgo_pb.ts
Due: none

Implementing CLI command to create transaction (#231)
  README.md
  buf.lock
  cli/commands/portfolio.go
  cli/commands/securities.go
  cmd/mgo/mgo.go
  money-gopher.code-workspace
  ui/src/lib/gen/mgo_connect.ts
  ui/src/lib/gen/mgo_pb.ts
Due: none

Converted all log messages
  cli/commands/portfolio.go
  cli/commands/securities.go
  cmd/mgo/mgo.go
  cmd/moneyd/moneyd.go
  gen/portfolio.go
  import/csv/csv_importer.go
  persistence/persistence.go
  service/securities/quote.go
Due: securities-service

Added logging with `slog`
  cli/cli.go
  cmd/moneyd/moneyd.go
  go.mod
  go.sum
  money-gopher.code-workspace
  persistence/persistence.go
  service/securities/quote.go
Due: securities-service

Prepare some testing
  money-gopher.code-workspace
  service/securities/quote.go
  service/securities/quote_test.go
Due: securities-service

Added logging with `slog` (#232)
  cli/cli.go
  cli/commands/portfolio.go
  cli/commands/securities.go
  cmd/mgo/mgo.go
  cmd/moneyd/moneyd.go
  gen/portfolio.go
  go.mod
  go.sum
  import/csv/csv_importer.go
  money-gopher.code-workspace
  persistence/persistence.go
  service/securities/quote.go
  service/securities/quote_test.go
Due: securities-service

Switch to `svelte-headlessui`
  ui/package-lock.json
  ui/package.json
  ui/src/lib/components/PortfolioBreadcrumb.svelte
  ui/src/routes/+layout.svelte
Due: none

Switch to `svelte-headlessui` (#241)
  ui/package-lock.json
  ui/package.json
  ui/src/lib/components/PortfolioBreadcrumb.svelte
  ui/src/routes/+layout.svelte
Due: none

Starting with UI impl for add transaction
  .gitignore
  gen/portfolio.go
  money-gopher.code-workspace
  service/portfolio/transactions.go
  ui/package-lock.json
  ui/package.json
  ui/src/lib/api/client.ts
  ui/src/lib/components/Button.svelte
  ui/src/lib/components/CurrencyInput.svelte
  ui/src/lib/components/SecurityComboBox.svelte
  ui/src/routes/+layout.ts
  ui/src/routes/portfolios/[...name]/+page.ts
  ui/src/routes/portfolios/[...portfolioName]/+layout.ts
  ui/src/routes/portfolios/[...portfolioName]/+page.svelte
  ui/src/routes/portfolios/[...portfolioName]/transactions/[txName]/+page.svelte
  ui/src/routes/portfolios/[...portfolioName]/transactions/[txName]/+page.ts
  ui/src/routes/securities/+page.ts
Due: portfolio-service

Starting with UI impl for add transaction (#244)
  .gitignore
  gen/portfolio.go
  money-gopher.code-workspace
  service/portfolio/transactions.go
  ui/package-lock.json
  ui/package.json
  ui/src/lib/api/client.ts
  ui/src/lib/components/Button.svelte
  ui/src/lib/components/CurrencyInput.svelte
  ui/src/lib/components/SecurityComboBox.svelte
  ui/src/routes/+layout.ts
  ui/src/routes/portfolios/[...name]/+page.ts
  ui/src/routes/portfolios/[...portfolioName]/+layout.ts
  ui/src/routes/portfolios/[...portfolioName]/+page.svelte
  ui/src/routes/portfolios/[...portfolioName]/transactions/[txName]/+page.svelte
  ui/src/routes/portfolios/[...portfolioName]/transactions/[txName]/+page.ts
  ui/src/routes/securities/+page.ts
Due: portfolio-service

Trying out Svelte 5
  ui/package-lock.json
  ui/package.json
  ui/src/lib/components/PortfolioPositionsTable.svelte
  ui/src/lib/components/TableSorter.svelte
  ui/src/routes/portfolios/[...portfolioName]/+layout.ts
Due: none

Simple transaction overview
  gen/mgo.pb.go
  gen/portfoliov1connect/mgo.connect.go
  mgo.proto
  service/portfolio/transactions.go
  service/portfolio/transactions_test.go
  ui/src/lib/components/PortfolioPositionsTable.svelte
  ui/src/lib/components/PortfolioTransactionRow.svelte
  ui/src/lib/components/PortfolioTransactionsTable.svelte
  ui/src/lib/components/TableSorter.svelte
  ui/src/lib/gen/mgo_connect.ts
  ui/src/lib/gen/mgo_pb.ts
  ui/src/routes/portfolios/[...portfolioName]/+layout.ts
  ui/src/routes/portfolios/[...portfolioName]/+page.svelte
  ui/src/routes/portfolios/[...portfolioName]/transactions/+page.svelte
  ui/src/routes/portfolios/[...portfolioName]/transactions/+page.ts
  ui/src/routes/portfolios/[...portfolioName]/transactions/[txName]/+page.svelte
  ui/src/routes/portfolios/[...portfolioName]/transactions/[txName]/+page.ts
Due: portfolio-service

Added test for GetPortfolioTransaction
  service/portfolio/transactions_test.go
Due: portfolio-service

Use go.mod Go version in GitHub CI
  .github/workflows/build.yml
Due: none

Use go.mod Go version in GitHub CI (#249)
  .github/workflows/build.yml
Due: none

Added simple UI form for viewing and editing transactions
  service/portfolio/transactions.go
  ui/package-lock.json
  ui/package.json
  ui/src/lib/components/DateTimeInput.svelte
  ui/src/lib/components/PortfolioTransactionRow.svelte
  ui/src/lib/components/PortfolioTransactionsTable.svelte
  ui/src/lib/components/SecurityComboBox.svelte
  ui/src/routes/portfolios/[...portfolioName]/+layout.ts
  ui/src/routes/portfolios/[...portfolioName]/transactions/+page.svelte
  ui/src/routes/portfolios/[...portfolioName]/transactions/+page.ts
  ui/src/routes/portfolios/[...portfolioName]/transactions/[txName]/+page.svelte
  ui/src/routes/portfolios/[...portfolioName]/transactions/[txName]/+page.ts
Due: portfolio-service

Simple transaction overview (#246)
  gen/mgo.pb.go
  gen/portfoliov1connect/mgo.connect.go
  mgo.proto
  service/portfolio/transactions.go
  service/portfolio/transactions_test.go
  ui/package-lock.json
  ui/package.json
  ui/src/lib/components/DateTimeInput.svelte
  ui/src/lib/components/PortfolioPositionsTable.svelte
  ui/src/lib/components/PortfolioTransactionRow.svelte
  ui/src/lib/components/PortfolioTransactionsTable.svelte
  ui/src/lib/components/SecurityComboBox.svelte
  ui/src/lib/components/TableSorter.svelte
  ui/src/lib/gen/mgo_connect.ts
  ui/src/lib/gen/mgo_pb.ts
  ui/src/routes/portfolios/[...portfolioName]/+layout.ts
  ui/src/routes/portfolios/[...portfolioName]/+page.svelte
  ui/src/routes/portfolios/[...portfolioName]/transactions/+page.svelte
  ui/src/routes/portfolios/[...portfolioName]/transactions/+page.ts
  ui/src/routes/portfolios/[...portfolioName]/transactions/[txName]/+page.svelte
  ui/src/routes/portfolios/[...portfolioName]/transactions/[txName]/+page.ts
Due: portfolio-service

Update README.md
  README.md
Due: none

Fixed color
  cli/commands/portfolio.go
Due: none

Update README and CLI colors (#251)
  README.md
  cli/commands/portfolio.go
Due: none

Currency conversion
  cli/commands/portfolio.go
  finance/calculation.go
  finance/calculation_test.go
  gen/mgo.pb.go
  gen/portfolio.go
  gen/portfolio_test.go
  import/csv/csv_importer.go
  import/csv/csv_importer_test.go
  mgo.proto
  service/portfolio/portfolio_test.go
  service/portfolio/snapshot.go
  service/portfolio/snapshot_test.go
  service/securities/quote.go
  service/securities/quote_provider.go
  service/securities/quote_provider_ing.go
  service/securities/quote_provider_ing_test.go
  service/securities/quote_provider_yf.go
  service/securities/quote_provider_yf_test.go
  service/securities/quote_test.go
  service/securities/service.go
  ui/src/lib/gen/mgo_pb.ts
Due: portfolio-service, securities-service

Fixing tests
  cli/commands/portfolio.go
  finance/calculation.go
  finance/calculation_test.go
  gen/mgo.pb.go
  gen/portfolio.go
  gen/portfolio_sql.go
  gen/portfolio_test.go
  gen/securities_sql.go
  import/csv/csv_importer.go
  import/csv/csv_importer_test.go
  mgo.proto
  service/portfolio/snapshot.go
  ui/src/lib/gen/mgo_pb.ts
Due: portfolio-service

Fixed tests
  finance/calculation.go
  gen/portfolio_sql.go
  gen/securities_sql.go
  service/internal/crud/crud_requests.go
  service/internal/crud/crud_requests_test.go
  service/portfolio/portfolio.go
  service/portfolio/snapshot.go
  service/portfolio/transactions.go
  service/securities/quote_provider_ing.go
  service/securities/quote_provider_yf.go
  service/securities/securities.go
Due: portfolio-service, securities-service

Adjusted UI
  gen/portfolio_sql.go
  ui/src/lib/components/CurrencyInput.svelte
  ui/src/lib/components/PortfolioCard.svelte
  ui/src/lib/components/PortfolioPositionRow.svelte
  ui/src/lib/components/PortfolioPositionsTable.svelte
  ui/src/lib/components/PortfolioTransactionRow.svelte
  ui/src/lib/components/PortfolioTransactionsTable.svelte
  ui/src/lib/intl.ts
  ui/src/routes/portfolios/[...portfolioName]/transactions/[txName]/+page.svelte
  ui/src/routes/securities/+page.svelte
Due: none

Using a dedicated currency object instead of float (#255)
  cli/commands/portfolio.go
  finance/calculation.go
  finance/calculation_test.go
  gen/mgo.pb.go
  gen/portfolio.go
  gen/portfolio_sql.go
  gen/portfolio_test.go
  gen/securities_sql.go
  import/csv/csv_importer.go
  import/csv/csv_importer_test.go
  mgo.proto
  service/internal/crud/crud_requests.go
  service/internal/crud/crud_requests_test.go
  service/portfolio/portfolio.go
  service/portfolio/portfolio_test.go
  service/portfolio/snapshot.go
  service/portfolio/snapshot_test.go
  service/portfolio/transactions.go
  service/securities/quote.go
  service/securities/quote_provider.go
  service/securities/quote_provider_ing.go
  service/securities/quote_provider_ing_test.go
  service/securities/quote_provider_yf.go
  service/securities/quote_provider_yf_test.go
  service/securities/quote_test.go
  service/securities/securities.go
  service/securities/service.go
  ui/src/lib/components/CurrencyInput.svelte
  ui/src/lib/components/PortfolioCard.svelte
  ui/src/lib/components/PortfolioPositionRow.svelte
  ui/src/lib/components/PortfolioPositionsTable.svelte
  ui/src/lib/components/PortfolioTransactionRow.svelte
  ui/src/lib/components/PortfolioTransactionsTable.svelte
  ui/src/lib/gen/mgo_pb.ts
  ui/src/lib/intl.ts
  ui/src/routes/portfolios/[...portfolioName]/transactions/[txName]/+page.svelte
  ui/src/routes/securities/+page.svelte
Due: portfolio-service, securities-service

Create release.yml
  .github/workflows/release.yml
Due: none

Create release.yml (#258)
  .github/workflows/release.yml
Due: none

Update release.yml
  .github/workflows/release.yml
Due: none

Update release.yml (#260)
  .github/workflows/release.yml
Due: none

Added Dockerfile
  Dockerfile
  cmd/moneyd/moneyd.go
  ui/embed.go
  ui/package-lock.json
  ui/package.json
  ui/svelte.config.js
Due: none

++
  Dockerfile
Due: none

Fixed CI
  .github/workflows/build.yml
Due: none

Fixed CI, again
  .github/workflows/build.yml
Due: none

Dockerfile (#261)
  .github/workflows/build.yml
  Dockerfile
  cmd/moneyd/moneyd.go
  ui/embed.go
  ui/package-lock.json
  ui/package.json
  ui/svelte.config.js
Due: none

Listening on all interfaces for Docker
  Dockerfile
  cmd/moneyd/moneyd.go
Due: none

Listening on all interfaces for Docker (#262)
  Dockerfile
  cmd/moneyd/moneyd.go
Due: none

Ignoring peer dependency
  ui/package-lock.json
Due: none

Update renovate.json
  renovate.json
Due: none

Updated package log
  ui/package-lock.json
  ui/package.json
Due: none

Path conditions:
  portfolio-service: any of: service/portfolio/**, but not: **/*.pb.go, **/*.connect.go
  securities-service: any of: service/securities/**, but not: **/*.pb.go, **/*.connect.go
