Repository oxisto/money-gopher: changes, and which Codecov flags are due for each by the changed paths.
All: portfolio-service, securities-service

.codecov.yml:

ignore:
  - "**/*.pb.go" # ignore protoc generated files
  - "**/*.connect.go" # ignore connect-go generated files
coverage:
  range: "70...85"
  status:
    project:
      default:
        target: auto
        threshold: 0.5%
    patch:
      default:
        target: 70%

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: service_portfolio
      name: portfolio-service
      paths:
        - service/portfolio/**
    - component_id: service_securities
      name: securities-service
      paths:
        - service/securities/**

Fix
  ui/package.json
  ui/svelte.config.js
Due: none

18 -> 20
  .github/workflows/build.yml
Due: none

Fixed inter-var fontname after inter-ui 4.0 release
  ui/src/routes/+layout.ts
  ui/tailwind.config.js
Due: none

Fixed inter-var fontname after inter-ui 4.0 release (#273)
  ui/src/routes/+layout.ts
  ui/tailwind.config.js
Due: none

Preparing OAuth 2.0 based login
  cmd/moneyd/moneyd.go
  go.mod
  go.sum
  service/portfolio/snapshot.go
  ui/package-lock.json
  ui/package.json
  ui/src/hooks.server.js
  ui/src/lib/api/client.ts
  ui/src/lib/oauth.ts
  ui/src/routes/(app)/+layout.svelte
  ui/src/routes/(app)/+layout.ts
  ui/src/routes/(app)/dashboard/+page.svelte
  ui/src/routes/(app)/portfolios/+page.svelte
  ui/src/routes/(app)/portfolios/+page.ts
  ui/src/routes/(app)/portfolios/[...portfolioName]/+layout.ts
  ui/src/routes/(app)/portfolios/[...portfolioName]/+page.svelte
  ui/src/routes/(app)/portfolios/[...portfolioName]/transactions/+page.svelte
  ui/src/routes/(app)/portfolios/[...portfolioName]/transactions/+page.ts
  ui/src/routes/(app)/portfolios/[...portfolioName]/transactions/[txName]/+page.svelte
  ui/src/routes/(app)/portfolios/[...portfolioName]/transactions/[txName]/+page.ts
  ui/src/routes/(app)/securities/+page.svelte
  ui/src/routes/(auth)/callback/+page.ts
  ui/src/routes/(auth)/login/+page.ts
  ui/src/routes/+error.svelte
  ui/src/routes/+layout.ts
  ui/src/routes/portfolios/+page.ts
  ui/src/routes/portfolios/[...portfolioName]/+layout.ts
Due: portfolio-service

Preparing OAuth 2.0 based login (#272)
  cmd/moneyd/moneyd.go
  go.mod
  go.sum
  service/portfolio/snapshot.go
  ui/package-lock.json
  ui/package.json
  ui/src/hooks.server.js
  ui/src/lib/api/client.ts
  ui/src/lib/oauth.ts
  ui/src/routes/(app)/+layout.svelte
  ui/src/routes/(app)/+layout.ts
  ui/src/routes/(app)/dashboard/+page.svelte
  ui/src/routes/(app)/portfolios/+page.svelte
  ui/src/routes/(app)/portfolios/+page.ts
  ui/src/routes/(app)/portfolios/[...portfolioName]/+layout.ts
  ui/src/routes/(app)/portfolios/[...portfolioName]/+page.svelte
  ui/src/routes/(app)/portfolios/[...portfolioName]/transactions/+page.svelte
  ui/src/routes/(app)/portfolios/[...portfolioName]/transactions/+page.ts
  ui/src/routes/(app)/portfolios/[...portfolioName]/transactions/[txName]/+page.svelte
  ui/src/routes/(app)/portfolios/[...portfolioName]/transactions/[txName]/+page.ts
  ui/src/routes/(app)/securities/+page.svelte
  ui/src/routes/(auth)/callback/+page.ts
  ui/src/routes/(auth)/login/+page.ts
  ui/src/routes/+error.svelte
  ui/src/routes/+layout.ts
  ui/src/routes/portfolios/+page.ts
  ui/src/routes/portfolios/[...portfolioName]/+layout.ts
Due: portfolio-service

Use new feature of oauth2go to persist the private key
  .gitignore
  cmd/moneyd/moneyd.go
  go.mod
  go.sum
Due: none

Use new feature of oauth2go to persist the private key (#275)
  .gitignore
  cmd/moneyd/moneyd.go
  go.mod
  go.sum
Due: none

Initial implementation of bank account
  cli/cli.go
  cli/commands/account.go
  cli/commands/init.go
  cli/commands/portfolio.go
  finance/calculation.go
  finance/calculation_test.go
  gen/currency.go
  gen/mgo.pb.go
  gen/portfolio.go
  gen/portfolio_sql.go
  gen/portfoliov1connect/mgo.connect.go
  gen/securities_sql.go
  mgo.proto
  money-gopher.code-workspace
  service/internal/crud/crud_requests.go
  service/portfolio/account.go
  service/portfolio/account_test.go
  service/portfolio/service.go
  service/portfolio/snapshot.go
  service/portfolio/transactions.go
  service/portfolio/transactions_test.go
  ui/.prettierrc
  ui/src/lib/components/PortfolioBreadcrumb.svelte
  ui/src/lib/components/PortfolioPositionsTable.svelte
  ui/src/lib/components/SecurityListBox.svelte
  ui/src/lib/components/TransactionTypeListBox.svelte
  ui/src/lib/gen/mgo_connect.ts
  ui/src/lib/gen/mgo_pb.ts
  ui/src/routes/(app)/portfolios/[...portfolioName]/+layout.svelte
  ui/src/routes/(app)/portfolios/[...portfolioName]/+page.svelte
  ui/src/routes/(app)/portfolios/[...portfolioName]/transactions/+page.svelte
  ui/src/routes/(app)/portfolios/[...portfolioName]/transactions/[txName]/+page.svelte
  ui/src/routes/(app)/portfolios/[...portfolioName]/transactions/[txName]/+page.ts
Due: portfolio-service

Added more testing
  gen/account_sql.go
  gen/mgo.pb.go
  gen/portfolio_sql.go
  gen/portfoliov1connect/mgo.connect.go
  mgo.proto
  service/portfolio/account.go
  service/portfolio/account_test.go
  service/portfolio/portfolio_test.go
  ui/src/lib/gen/mgo_connect.ts
  ui/src/lib/gen/mgo_pb.ts
Due: portfolio-service

Extended tests
  service/portfolio/transactions_test.go
Due: portfolio-service

Initial implementation of bank account (#253)
  cli/cli.go
  cli/commands/account.go
  cli/commands/init.go
  cli/commands/portfolio.go
  cmd/mgo/mgo.go
  finance/calculation.go
  finance/calculation_test.go
  gen/account_sql.go
  gen/currency.go
  gen/mgo.pb.go
  gen/portfolio.go
  gen/portfolio_sql.go
  gen/portfoliov1connect/mgo.connect.go
  gen/securities_sql.go
  mgo.proto
  money-gopher.code-workspace
  service/internal/crud/crud_requests.go
  service/portfolio/account.go
  service/portfolio/account_test.go
  service/portfolio/portfolio_test.go
  service/portfolio/service.go
  service/portfolio/snapshot.go
  service/portfolio/transactions.go
  service/portfolio/transactions_test.go
  ui/.prettierrc
  ui/src/lib/components/PortfolioBreadcrumb.svelte
  ui/src/lib/components/PortfolioPositionsTable.svelte
  ui/src/lib/components/SecurityListBox.svelte
  ui/src/lib/components/TransactionTypeListBox.svelte
  ui/src/lib/gen/mgo_connect.ts
  ui/src/lib/gen/mgo_pb.ts
  ui/src/routes/(app)/portfolios/[...portfolioName]/+layout.svelte
  ui/src/routes/(app)/portfolios/[...portfolioName]/+page.svelte
  ui/src/routes/(app)/portfolios/[...portfolioName]/transactions/+page.svelte
  ui/src/routes/(app)/portfolios/[...portfolioName]/transactions/[txName]/+page.svelte
  ui/src/routes/(app)/portfolios/[...portfolioName]/transactions/[txName]/+page.ts
Due: portfolio-service

Cleanup
  cli/cli.go
  cli/commands/account.go
  cli/commands/portfolio.go
  cli/commands/securities.go
  cmd/mgo/mgo.go
  finance/calculation.go
  finance/calculation_test.go
  gen/account_sql.go
  gen/currency.go
  gen/portfolio.go
  gen/portfolio_sql.go
  gen/portfolio_test.go
  gen/securities_sql.go
  import/csv/csv_importer.go
  import/csv/csv_importer_test.go
  internal/persistence.go
  money-gopher.code-workspace
  service/internal/crud/crud_requests.go
  service/internal/crud/crud_requests_test.go
  service/portfolio/account.go
  service/portfolio/account_test.go
  service/portfolio/portfolio.go
  service/portfolio/portfolio_test.go
  service/portfolio/service_test.go
  service/portfolio/snapshot_test.go
  service/portfolio/transactions_test.go
  service/securities/quote.go
  service/securities/quote_provider_ing_test.go
  service/securities/quote_provider_yf_test.go
  service/securities/quote_test.go
  service/securities/securities_test.go
Due: portfolio-service, securities-service

Cleanup (#277)
  cli/cli.go
  cli/commands/account.go
  cli/commands/portfolio.go
  cli/commands/securities.go
  cmd/mgo/mgo.go
  finance/calculation.go
  finance/calculation_test.go
  gen/account_sql.go
  gen/currency.go
  gen/portfolio.go
  gen/portfolio_sql.go
  gen/portfolio_test.go
  gen/securities_sql.go
  import/csv/csv_importer.go
  import/csv/csv_importer_test.go
  internal/persistence.go
  money-gopher.code-workspace
  service/internal/crud/crud_requests.go
  service/internal/crud/crud_requests_test.go
  service/portfolio/account.go
  service/portfolio/account_test.go
  service/portfolio/portfolio.go
  service/portfolio/portfolio_test.go
  service/portfolio/service_test.go
  service/portfolio/snapshot_test.go
  service/portfolio/transactions_test.go
  service/securities/quote.go
  service/securities/quote_provider_ing_test.go
  service/securities/quote_provider_yf_test.go
  service/securities/quote_test.go
  service/securities/securities_test.go
Due: portfolio-service, securities-service

Implementing oauth2 in CLI
  cli/cli.go
  cli/commands.go
  cli/commands/init.go
  cli/commands/login.go
  cli/commands/portfolio.go
  cli/commands/securities.go
  cmd/mgo/mgo.go
  cmd/moneyd/moneyd.go
  ui/src/lib/gen/mgo_connect.ts
Due: none

Added oauth2 flag
  .gitignore
  cmd/moneyd/moneyd.go
  money-gopher.code-workspace
Due: none

Using newer version of codecov plugin
  .github/workflows/build.yml
  money-gopher.code-workspace
Due: none

Better test result
  .github/workflows/build.yml
Due: none

Adding more tests
  cli/commands/portfolio_test.go
  internal/testing/servertest/servertest.go
  service/portfolio/portfoliotest/portfoliotest.go
Due: portfolio-service

Added test harness
  cli/cli.go
  cli/commands/login.go
  cli/commands/portfolio_test.go
  money-gopher.code-workspace
  service/portfolio/portfoliotest/portfoliotest.go
Due: portfolio-service

Make CLI not crash
  .vscode/launch.json
  cmd/mgo/mgo.go
  gen/mgo.pb.go
  ui/src/lib/gen/mgo_connect.ts
  ui/src/lib/gen/mgo_pb.ts
Due: none

And more tests
  cli/commands/portfolio_test.go
  go.sum
Due: none

Added login test
  cli/commands/login_test.go
Due: none

Adding more tests
  cli/commands/securities.go
  cli/commands/securities_test.go
  cmd/mgo/mgo.go
Due: none

And more
  cli/commands/portfolio.go
  cli/commands/portfolio_test.go
  cli/commands/securities.go
  cli/commands/securities_test.go
  cmd/mgo/mgo.go
Due: none

65% is ok for a patch for now
  .codecov.yml
Due: none

Implementing oauth2 in CLI (#296)
  .codecov.yml
  .github/workflows/build.yml
  .gitignore
  .vscode/launch.json
  cli/cli.go
  cli/commands.go
  cli/commands/init.go
  cli/commands/login.go
  cli/commands/login_test.go
  cli/commands/portfolio.go
  cli/commands/portfolio_test.go
  cli/commands/securities.go
  cli/commands/securities_test.go
  cmd/mgo/mgo.go
  cmd/moneyd/moneyd.go
  gen/mgo.pb.go
  go.sum
  internal/testing/servertest/servertest.go
  money-gopher.code-workspace
  ui/src/lib/gen/mgo_connect.ts
  ui/src/lib/gen/mgo_pb.ts
Due: none

Added missing .env.development
  ui/.env.development
Due: none

Implemented history quotes
  gen/mgo.pb.go
  gen/securities_sql.go
  mgo.proto
  ui/src/lib/gen/mgo_pb.ts
Due: none

Fixed active in menu item
  ui/src/routes/(app)/+layout.svelte
Due: none

Fixed active in menu item (#420)
  ui/src/routes/(app)/+layout.svelte
Due: none

Fixing security issue
  ui/package-lock.json
Due: none

Fixes CI
  buf.gen.yaml
  ui/package-lock.json
Due: none

Fixes CI (#444)
  buf.gen.yaml
  ui/package-lock.json
Due: none

Converting to Svelte 5
  ui/package-lock.json
  ui/package.json
  ui/src/lib/components/SecurityListBox.svelte
  ui/src/lib/components/TableSorter.svelte
  ui/src/routes/(app)/portfolios/+page.svelte
  ui/src/routes/(app)/securities/+page.svelte
Due: none

Adding overrides for packages which are not upgraded yet
  gen/mgo.pb.go
  ui/package.json
  ui/src/lib/gen/mgo_pb.ts
Due: none

more conversion
  ui/src/lib/components/DateTimeInput.svelte
  ui/src/lib/components/SecurityListBox.svelte
  ui/src/lib/components/TransactionTypeListBox.svelte
  ui/src/routes/(app)/portfolios/[...portfolioName]/transactions/[txName]/+page.svelte
Due: none

Trying auth.js
  buf.gen.yaml
  cmd/moneyd/moneyd.go
  gen/mgo.pb.go
  ui-next/app/(app)/dashboard/page.tsx
  ui-next/app/(app)/portfolios/page.tsx
  ui-next/app/(app)/securities/page.tsx
  ui-next/app/api/auth/[...nextauth]/route.ts
  ui-next/app/components/nav.tsx
  ui-next/app/components/sidebar.tsx
  ui-next/app/layout.tsx
  ui-next/app/lib/auth.ts
  ui-next/app/lib/client.ts
  ui-next/app/lib/gen/mgo_connect.ts
  ui-next/app/lib/gen/mgo_pb.ts
  ui-next/app/page.tsx
  ui-next/app/portfolios/page.tsx
  ui-next/middleware.ts
  ui-next/next.config.js
  ui-next/next.config.mjs
  ui-next/package-lock.json
  ui-next/package.json
Due: none
