Repository oxisto/money-gopher: changes, and which Codecov flags are due for each by the changed paths.
All: portfolio-service, securities-service

Added test to test components
  service/securities/securities_test.go
Due: securities-service

UI Improvements to portfolio page
  ui/package-lock.json
  ui/package.json
  ui/src/components/Layout.vue
  ui/src/components/SecuritiesTable.vue
  ui/src/components/Sidebar.vue
  ui/src/components/TableSorter.vue
  ui/src/components/menu/PortfolioSidebarItems.vue
  ui/src/components/portfolio/PortfolioPositionRow.vue
  ui/src/components/portfolio/PortfolioPositionsTable.vue
  ui/src/main.ts
  ui/tailwind.config.js
  ui/vite.config.ts
Due: none

UI Improvements to portfolio page (#58)
  ui/package-lock.json
  ui/package.json
  ui/src/components/Layout.vue
  ui/src/components/SecuritiesTable.vue
  ui/src/components/Sidebar.vue
  ui/src/components/TableSorter.vue
  ui/src/components/menu/PortfolioSidebarItems.vue
  ui/src/components/portfolio/PortfolioPositionRow.vue
  ui/src/components/portfolio/PortfolioPositionsTable.vue
  ui/src/main.ts
  ui/tailwind.config.js
  ui/vite.config.ts
Due: none

Building UI on CI
  .github/workflows/build.yml
Due: none

Building UI on CI (#63)
  .github/workflows/build.yml
Due: none

Support delivery in/outbound as transaction type
  finance/calculation.go
  gen/mgo.pb.go
  import/csv/csv_importer.go
  mgo.proto
  ui/src/gen/mgo_pb.ts
Due: none

Slightly more coverage
  import/csv/csv_importer_test.go
Due: none

Support delivery in/outbound as transaction type (#62)
  finance/calculation.go
  gen/mgo.pb.go
  import/csv/csv_importer.go
  import/csv/csv_importer_test.go
  mgo.proto
  ui/src/gen/mgo_pb.ts
Due: none

Supporting sorting the entries of portfolio positions table
  ui/src/components/TableSorter.vue
  ui/src/components/portfolio/PortfolioPositionsTable.vue
Due: none

Supporting sorting the entries of portfolio positions table (#64)
  ui/src/components/TableSorter.vue
  ui/src/components/portfolio/PortfolioPositionsTable.vue
Due: none

Update renovate.json
  renovate.json
Due: none

Group UI dependencies
  renovate.json
Due: none

++
  gen/mgo.pb.go
  mgo.proto
  service/portfolio/snapshot.go
  ui/src/components/portfolio/PortfolioPositionRow.vue
  ui/src/components/portfolio/PortfolioPositionsTable.vue
  ui/src/gen/mgo_pb.ts
Due: portfolio-service

Upgrading to Go 1.21
  .github/workflows/build.yml
  go.mod
  go.sum
  import/csv/csv_importer.go
  service/securities/securities.go
Due: securities-service

Upgrading to Go 1.21 (#120)
  .github/workflows/build.yml
  go.mod
  go.sum
  import/csv/csv_importer.go
  service/securities/securities.go
Due: securities-service

Update build.yml
  .github/workflows/build.yml
Due: none

Remove usage of `x/exp` package
  go.mod
  go.sum
  service/portfolio/snapshot.go
Due: portfolio-service

Remove usage of `x/exp` package (#162)
  go.mod
  go.sum
  service/portfolio/snapshot.go
Due: portfolio-service

Improve portfolio UI view
  repl/commands/portfolio.go
  service/portfolio/snapshot.go
  ui/src/lib/components/Date.svelte
  ui/src/lib/components/Performance.svelte
  ui/src/lib/components/PortfolioBreadcrumb.svelte
  ui/src/lib/components/PortfolioCard.svelte
  ui/src/lib/components/PortfolioPositionRow.svelte
  ui/src/lib/components/PortfolioPositionsTable.svelte
  ui/src/lib/intl.ts
  ui/src/routes/portfolios/[...name]/+page.svelte
Due: portfolio-service

Added ui label for labeler
  .github/labeler.yml
Due: none

Improve portfolio UI view (#163)
  .github/labeler.yml
  repl/commands/portfolio.go
  service/portfolio/snapshot.go
  ui/src/lib/components/Date.svelte
  ui/src/lib/components/Performance.svelte
  ui/src/lib/components/PortfolioBreadcrumb.svelte
  ui/src/lib/components/PortfolioCard.svelte
  ui/src/lib/components/PortfolioPositionRow.svelte
  ui/src/lib/components/PortfolioPositionsTable.svelte
  ui/src/lib/intl.ts
  ui/src/routes/portfolios/[...name]/+page.svelte
Due: portfolio-service

Implemented simple quote provider for ING
  import/csv/csv_importer.go
  import/csv/csv_importer_test.go
  service/securities/quote_provider.go
  service/securities/quote_provider_ing.go
  service/securities/quote_provider_ing_test.go
Due: securities-service

Implemented simple quote provider for ING (#166)
  import/csv/csv_importer.go
  import/csv/csv_importer_test.go
  service/securities/quote_provider.go
  service/securities/quote_provider_ing.go
  service/securities/quote_provider_ing_test.go
Due: securities-service

Switched to connectrpc.com/connect package import
  CONTRIBUTING.md
  gen/portfoliov1connect/mgo.connect.go
  go.mod
  go.sum
  repl/commands/portfolio.go
  repl/commands/securities.go
  service/internal/crud/crud_requests.go
  service/internal/crud/crud_requests_test.go
  service/portfolio/portfolio.go
  service/portfolio/portfolio_test.go
  service/portfolio/snapshot.go
  service/portfolio/snapshot_test.go
  service/portfolio/transactions.go
  service/portfolio/transactions_test.go
  service/securities/quote.go
  service/securities/quote_test.go
  service/securities/securities.go
  service/securities/securities_test.go
Due: portfolio-service, securities-service

Calculating profit/loss on backend
  buf.gen.yaml
  gen/mgo.pb.go
  gen/portfoliov1connect/mgo.connect.go
  go.sum
  mgo.proto
  service/portfolio/snapshot.go
  ui/src/lib/components/Performance.svelte
  ui/src/lib/components/PortfolioPositionRow.svelte
  ui/src/lib/gen/mgo_connect.ts
  ui/src/lib/gen/mgo_pb.ts
  ui/src/routes/portfolios/+page.svelte
Due: portfolio-service

Calculating profit/loss on backend (#190)
  buf.gen.yaml
  gen/mgo.pb.go
  gen/portfoliov1connect/mgo.connect.go
  go.sum
  mgo.proto
  service/portfolio/snapshot.go
  ui/src/lib/components/Performance.svelte
  ui/src/lib/components/PortfolioPositionRow.svelte
  ui/src/lib/gen/mgo_connect.ts
  ui/src/lib/gen/mgo_pb.ts
  ui/src/routes/portfolios/+page.svelte
Due: portfolio-service

Ignoring peer dependency
  ui/package-lock.json
  ui/package.json
Due: none

Adjusted labeler.yml to new v5 layout
  .github/labeler.yml
Due: none

Adjusted labeler.yml to new v5 layout (#224)
  .github/labeler.yml
Due: none

Initial try at CLI
  .github/labeler.yml
  .vscode/launch.json
  .vscode/tasks.json
  cli/cli.go
  cli/commands.go
  cli/commands/init.go
  cli/commands/portfolio.go
  cli/commands/securities.go
  cmd/moneyd/moneyd.go
  go.mod
  go.sum
  repl/commands/portfolio.go
  repl/repl.go
Due: none

Using kong for all commands
  cli/commands/init.go
  cli/commands/portfolio.go
  cli/commands/securities.go
  cmd/mgo/mgo.go
Due: none

Implemented more commands
  cli/commands/init.go
  cli/commands/portfolio.go
  cmd/mgo/mgo.go
  money-gopher.code-workspace
Due: none

Using kong
  cli/commands/init.go
  cli/commands/portfolio.go
  cmd/mgo/mgo.go
  go.mod
  go.sum
Due: none

Initial try at CLI (#198)
  .github/labeler.yml
  .vscode/launch.json
  .vscode/tasks.json
  cli/cli.go
  cli/commands.go
  cli/commands/init.go
  cli/commands/portfolio.go
  cli/commands/securities.go
  cmd/mgo/mgo.go
  cmd/moneyd/moneyd.go
  go.mod
  go.sum
  money-gopher.code-workspace
  repl/commands/portfolio.go
  repl/repl.go
Due: none

Switching to own branch of `kong-completion` temporarly
  cli/commands/init.go
  cmd/moneyd/moneyd.go
  go.mod
  go.sum
  money-gopher.code-workspace
Due: none

Switching to own branch of `kong-completion` temporarly (#226)
  cli/commands/init.go
  cmd/moneyd/moneyd.go
  go.mod
  go.sum
  money-gopher.code-workspace
Due: none

Back to upstream jotaen/kong-completion
  cli/commands/init.go
  go.mod
  go.sum
Due: none

Path conditions:
  portfolio-service: any of: service/portfolio/**, but not: **/*.pb.go, **/*.connect.go
  securities-service: any of: service/securities/**, but not: **/*.pb.go, **/*.connect.go
